#root {
  --typescript: #00a23c;
  --typescript-o20: rgba(0, 162, 60, 0.2);
  --expo: #b79ced;
  --expo-o20: rgba(183, 156, 237, 0.2);
  --info-ao20: rgba(64, 119, 209, 0.2);

  /* max-width: 1880px; */
  text-align: center;
}

main {
  padding-bottom: 100px;
}

header,
.header-side,
ul,
header a {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding: 35px 40px;

  border-bottom: 7px solid var(--border);

  h1 {
    font-size: 24px;
    font-weight: bolder;
  }
}

nav,
ul {
  gap: 65px;
}

li {
  margin: auto;
  list-style: none;
  a {
    text-decoration: none;
    color: var(--pimary-);
    font-weight: bold;
  }
}

.header-side.icons {
  gap: 20px;

  a {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid var(--primary-text);
    background-color: var(--primary-text-o20);
  }
}

.header-side.icons .icon-link.fill svg path {
  fill: var(--primary-text);
}

.header-side.icons .icon-link.fill:hover path {
  fill: var(--background);
}

.header-side.icons .icon-link:hover path {
  stroke: var(--background);
}

.ripple-heading {
  display: inline-block;
  cursor: pointer;
}

.ripple-heading span {
  display: inline-block;
  /* transition: transform 0.1s ease-in-out; */
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.hero-section {
  min-height: calc(100vh - 125px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section h2 {
  font-size: 40px;
}

.reachout-btn h2 {
  font-size: 28px;
  text-align: end;
}

.reachout-btn .mail-icon {
  width: 40px;
  height: 40px;
}

.reachout-btn:hover .mail-icon {
  path {
    stroke: var(--surface);
  }
}

.reachout-btn {
  display: flex;
  gap: 10px;
  margin-top: 125px;
  padding: 30px 192px;
  border: 5px solid var(--primary-text);
  background-color: var(--background);
  border-radius: 1.42em;
  box-shadow:
    0 5px var(--background),
    0 10px var(--primary-text);
  cursor: pointer;

  transition: transform 0.11s ease;
}

.reachout-btn:hover {
  transform: scale(1.02);
}

.reachout-btn:active {
  transform: translate(0, 10px);
}


section {
  padding-bottom: 100px;
}

section .bar {
  margin: 50px 0;
  height: 5px;
  background-color: var(--primary-text);
  box-shadow: 0 15px var(--primary-text);
}
.project-cards {
  width: 100%;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 650px;
  height: 150px;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;

  border: 5px solid var(--primary-text);
  border-radius: 15px;
  box-shadow:
    0 5px var(--background),
    0 10px var(--primary-text);

  svg {
    width: 20px;
  }
}



.project-cards .card .body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 15px;
}

.project-cards .card .body .header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.project-cards .card .footer {
  align-self: end;
}

.project-cards .card .body .header .tags {
  display: flex;
  gap: 10px;
}

.project-cards .card .body .header .tags .tag {
  border: 1px solid var(--primary-text);
  border-radius: 50px;
  padding: 5px 30px;
  font-size: 12px;
  font-weight: 400;
  background-color: var(--primary-text-o20);
  box-shadow: 0 2px var(--primary-text);
}

.project-cards .card .content {
  text-align: left;
  font-weight: 400;
  margin-top: 5px;
}

.project-cards .card .footer span {
  display: flex;
  align-items: center;
}

.project-cards .card .project-link {
  width: 100%;
  font-family: "Manrope";
  font-weight: 100;
  color: var(--primary-text);
  text-decoration: none;
}

.nav-link a {
  transition: all ease-out 120ms;
}

.nav-link:hover a {
  transform: scale(1.2);
}

.project-cards .card {
  transition: all ease-out 130ms;
}

.project-cards .card:hover {
  transform: scale(1.05);
  .body,
  .tag,
  .content p {
    color: var(--surface);
  }
  .header .tags .tag {
    box-shadow: 0 2px var(--surface);
    border-color: var(--surface);
  }
  svg path {
    fill: var(--surface);
  }
}

.traveling-title span {
  display: inline-block;
  transition: color 0.2s ease;
}

.jump {
  animation: jump 0.35s ease;
  filter: drop-shadow(0 0 6px currentColor);
}

@keyframes jump {
  0% {
    transform: translateY(0) scale(1);
  }
  40% {
    transform: translateY(-8px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text);
  border-radius: 8px;
  border: 2px solid var(--background);
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #6BE4DF,
    #767EE1,
    #F75F66,
    #F69DC8
  );
}

.about-me .info {
  padding: 75px 100px;
  width: max-content;
  margin: auto;
  border-radius: 20px;
  border: 5px solid var(--border);
}

.about-me .info h1 {
  font-size: 64px;
  letter-spacing: 30%;
  margin-bottom: 25px; 
  
}



.about-me .info .content img {
  width: 615px;
  border-radius: 40px;
  border: 7px solid var(--primary-text);
  box-shadow: 0 5px var(--background), 0 10px var(--primary-text);
}

.about-me .info .content {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 50px;
  justify-content: center;
  p {
    max-width: 573px;
  }
}


.about-me .info {
  background-color: var(--surface);
}