.modal-backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
}

.modal {
    width: 100%;
    max-width: 600px;
    padding: 100px 60px;
    border-radius: 10px;
    text-align: start;
    
    background-color: var(--background);
    color: var(--primary-text);
    border: 5px solid var(--border);
}

.modal h2 {
    margin: 0;
    padding: 0;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;

}

form input, textarea {
    background-color: var(--surface);
    padding: 5px;
    border-radius: 5px;
    border: 3px solid var(--border)
}

form input::placeholder, form textarea::placeholder {
    color: var(--muted-text);
}

form button {
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 0;

    background-color: var(--surface);
    color: var(--primary-text);
    border-radius: 4px;
    cursor: pointer;
    border: 4px solid var(--muted-text);
    box-shadow: 0 5px var(--surface),
    0 10px var(--muted-text);
    font-weight: bold;
}

form button:hover {
    /* background-color: var(--border); */
    border-color: var(--body-text);
    box-shadow: 0 5px var(--surface),
    0 10px var(--body-text);
}