.project-details {
    text-align: start;
    padding: 40px;
}

.backlink {
    color: var(--primary-text);
}

.project-details h1 {
    font-size: 40px;
    font-weight: 200;
}

.project-details .answer-block {
    padding: 40px 28px;
    color: var(--surface);
    background-color: var(--primary-text);
    border-radius: 30px;
    border: 10px solid var(--background);
    box-shadow: 0 10px var(--primary-text);
    font-weight: 600;
    margin-bottom: 10px;
}


.project-details section {
    margin-top: 20px;
}