#root {
  /* max-width: 1880px; */
  text-align: center;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}

.top-tag {
  border-radius: 1000px;
  border: 3px solid var(--info-a20);
  padding: 10px 50px;
  width: max-content;
  background-color: var(--tonal-a10);
  margin-top: 60px;
  color: var(--info-a30);
  h1 {
    margin: 0;
  }
}

.web-icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.6s ease-in-out;
}

.name-logo {
  width: 18rem;
  height: 18rem;
  margin: 55px 0;
}

.bottom-tag {
  width: max-content;
  border-radius: 1000px;
  border: 3px solid var(--warning-a10);
  font-size: 2rem;
  color: var(--warning-a20);
  padding: 0.2rem 3rem;
}

.mail-tag-icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.6s ease-in-out;
}

.top-tag:hover .web-icon {
  transform: rotate(-360deg);
}

.bottom-tag:hover .mail-tag-icon {
  transform: rotate(360deg);
}

#technologies {
  margin-top: 60px;
  background-color: var(--tonal-a10);
  padding-inline: 100px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 75px;
}

.carousel {
  width: 98%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  margin: auto;
  overflow-x: hidden;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: spin 10s infinite linear;
  padding-right: 2rem;
}

#technologies .card {
  flex: 0 0 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 108px;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
}

.card-logo{
  width: 38px;
  height: 38px;
  display: block;
  transform-origin: center center;
  transition: transform 0.8s ease-in-out;
}

.card:nth-child(odd) .card-logo {
  animation: float 2.2s  infinite linear;
}

.card:nth-child(even) .card-logo {
  animation: floatEven 2.2s infinite linear;
}

@keyframes float {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(0, -4px); }
  100% { transform: translate(0, 0); }
}
@keyframes floatEven {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(0, -8px); }
  100% { transform: translate(0, 0); }
}

@keyframes spin {
  from { translate: 0; }
  to { translate: -100%; }
}

