#root {

--typescript: #00A23C;
--typescript-o20: rgba(0, 162, 60, 0.2);
--expo: #B79CED;
--expo-o20: rgba(183, 156, 237, 0.2); 

  /* max-width: 1880px; */
  text-align: center;


}

#home {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}

.top-tag {
  border-radius: 1000px;
  border: 3px solid var(--info-a20);
  padding: 10px 50px;
  width: max-content;
  background-color: var(--tonal-a10);
  margin-top: 60px;
  color: var(--info-a30);
  h1 {
    margin: 0;
  }
}

.web-icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.6s ease-in-out;
}

.name-logo {
  width: 18rem;
  height: 18rem;
  margin: 55px 0;
}

.bottom-tag {
  width: max-content;
  border-radius: 1000px;
  border: 3px solid var(--warning-a10);
  font-size: 2rem;
  color: var(--warning-a20);
  padding: 0.2rem 3rem;
}

.mail-tag-icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.6s ease-in-out;
}

.top-tag:hover .web-icon {
  transform: rotate(-360deg);
}

.bottom-tag:hover .mail-tag-icon {
  transform: rotate(360deg);
}

.section {
  margin-top: 60px;
}

#technologies {
  background-color: var(--tonal-a10);
  padding-inline: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 75px;
  text-align: start;
}

.carousel {
  width: 98%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  margin: auto;
  overflow-x: hidden;
  
}

.carousel::-webkit-scrollbar {
  display: none;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: spin 10s infinite linear;
  padding-right: 2rem;
}

#technologies .card {
  flex: 0 0 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 108px;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
}

.card-logo{
  width: 38px;
  height: 38px;
  display: block;
  transform-origin: center center;
  transition: transform 0.8s ease-in-out;
}

.card:nth-child(odd) .card-logo {
  animation: float 2.2s  infinite linear;
}

.card:nth-child(even) .card-logo {
  animation: floatEven 2.2s infinite linear;
}

@keyframes float {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(0, -4px); }
  100% { transform: translate(0, 0); }
}
@keyframes floatEven {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(0, -8px); }
  100% { transform: translate(0, 0); }
}

@keyframes spin {
  from { translate: 0; }
  to { translate: -100%; }
}

#projects {
  padding: 0 75px;
}


.project-card {
  display: flex;
  border: 1px solid white;
  width: 70%;
  justify-self: center;
  align-items: center;
  padding: 35px;
  border-radius: 10px;
  gap: 25px;
  flex: 0 0 9rem;
  /* flex-wrap: wrap; */
}

.card-img {
  width: 20rem;
  height: 13rem;
  border: 1px solid red;
  border-radius: 5px;
  flex-shrink: 0;;
}

.body-header {
  text-align: start;
  /* border: 1px solid red; */
  h2 {
    margin: 0;
  }
}

.header-tags {
  display: flex;
  gap: 25px;
  margin-top: 5px;
}

.header-tag {
  padding: 2px 30px;
  border-radius: 100px;
}

.header-tag.typescript {
  border: 2px solid var(--typescript);
  background-color: var(--typescript-o20);
}

.header-tag.expo {
  border: 2px solid var(--expo);
  background-color: var(--expo-o20);
}

.body-txt {
  text-align: start;
}

.body-footer {
  display: flex;
  gap: 20px;
}

.github-link {
  border: 2px solid var(--info-a20);
  display: flex;
  padding: 5px 25px;
  gap: 15px;
  border-radius: 1000px;
}

.preview-link {
  display: flex;
  align-items: center;
  border: 1px solid var(--expo);
  padding: 0 20px;
  border-radius: 10px;
  transition: border-radius 0.6s ease;
}

.preview-link:hover { 
  border-radius: 1000px;
  transition: border-radius 0.3s ease-in-out;
  background-color: var(--expo-o20)
}


.preview-arrow {
  width: 1.5rem;
  height: 1.5rem;
}


.footer-icon {
  width: 1.5rem;
  height: 1.5rem;
}


