@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sono:wght,MONO@200..800,1&family=Space+Grotesk:wght@300..700&display=swap');




:root {

  --background: #0E0F12;
  --surface: #17181D;
  --border: #24262D;
  
  --primary-text: #E6EAF0;
  --primary-text-o20: rgba(230, 234, 240, 0.2);
  --body-text: #9AA3AD;
  --muted-text: #6B7280;


  color: var(--primary-text);
  background-color: var(--background);








  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;

  color-scheme: light dark;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body,
#root {
  height: 100%;
  
}
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk';
  font-weight: 800;
  letter-spacing: -1%;
}

p {
  font-family: 'Manrope';
}

p.sono {
  font-family: "Sono", monospace;
}

p.muted {
  color: var(--muted-text)
}
