
:root {

  --surface-a0: #25232A;
  --surface-a10: #121212;

  --tonal-a10: #201E24;

  --warning-a10: #A87A2A;
  --warning-a20: #D7AC61;
  --warning-a30: #ECD7B2;

  --danger-a10: #9C2121;
  --danger-a20: #D94A4A;
  --danger-a30: #EB9E9E;

  --info-a10: #21498A;
  --info-a20: #4077D1;
  --info-a30: #92b2e5;


  font-family: "sono monospace semibold", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: var(--surface-a10);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--surface-a10);
  color: white;
}

a {
  color: white;
  transition: ease-in 180ms all;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #c8b1f1;
}

.header,
.header-left,
.header-right,
.nav-links {
  display: flex;
}

.header-container {
  padding-top: 30px;
  width: 100%;
}

.header {
  margin: auto;
  width: 100%;
  max-width: 960px;
  gap: 10px;
  background-color: var(--surface-a0);
  padding: 5px 15px;
  border-radius: 1000px;
  justify-content: space-between;
  color: white;
}

.header-left {
  column-gap: 10px;
  .letter-logo {
    width: 50px;
    height: 50px;
  }
}

.header-right {
  column-gap: 10px;

  a {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 35px;
    align-self: center;
    cursor: pointer;
    transition: ease-in 230ms all;
  }
  .gh-icon, .mail-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.header .nav-links {
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.header .nav-links .nav-link {
  list-style: none;
  text-align: start;
  display: flex;
  align-items: center;
}

.header-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}


.header-right a {
  transition: transform 0.6s ease-in-out;
}

.header-right a:hover {
  transform: rotate(360deg);
}

.header-right a:first-child {
  border: 2px solid var(--info-a30);
  background-color: #92b2e533;
}
.header-right a:first-child:hover {
  background-color: var(--info-a30);
  .gh-icon {
    fill: var(--surface-a0);
  }
}

.header-right a:last-child {
  border: 2px solid var(--warning-a20);
  background-color: #d7ac6133;
}
.header-right a:last-child:hover {
  background-color: var(--warning-a20);
  .mail-icon #Icon-Set{
    fill: var(--surface-a0);
  }
}

.letter-logo {
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
}

.letter-logo:hover {
  transform: rotate(360deg);
}


/* light scheme */
